<% content_for :heading, 'Articles' %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item">Articles</li>
<% end %>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table mr-1"></i>
    List of Articles
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Posted at</th>
            <th>Published</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Posted at</th>
            <th>Published</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <% if @articles.empty? %>
          <tr>
            <td colspan="5"><em>No record found</em></td>
          </tr>
          <% end %>
          <% @articles.each do |article| %>
          <tr>
            <td><strong><%= article.title %></strong></td>
            <td><%= article.author_email %></td>
            <td><%= l(article.created_at, format: :short) %></td>
            <td class="justify-content-center">
              <%= content_tag(:i, '', class: "fas fa-#{article.published? ? 'check' : 'close'}") %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
